# Build
/work/
/Containerfile
/.aur-cache/
/.bin-cache/
/ostree/
*.log

# Keys and secrets
/keys/*.key
/keys/gh-token
/.secrets/

# OS junk
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini

# Editor/IDE
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-*
.project
.settings/

# Claude
/.claude/
