ID=vyy
ID_LIKE=arch
NAME="vyy"
VERSION_ID=@VERSION_DATE@
VERSION="@VERSION_DATE@"
PRETTY_NAME="vyy @VERSION_DATE@"
HOME_URL="https://github.com/myyc/vyy"
VARIANT_ID=desktop
OSTREE_VERSION=@VERSION_DATE@
